<div class="search-result">
  <p class="search-result-date text-right"><%= result.created_at %></p>
  <h4 class="search-result-title"><a href="<%= result.url %>"><%= result.title %></a></h3>
  <p class="search-result-summary"><%= raw result.description %></p>
</div>
